body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

#wrapper {
  display: flex;
  flex: 1;
}

#footer {
  display: flex;
  flex: 0 0 80px;
  justify-content: center;
  align-items: center;
}

#main {
  flex: 1;
  padding: 10px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 380px;
}

#sequence {
  padding: 4px 0;
  width: 390px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  display: flex;
  flex-direction: column;
}

#chart svg {
  z-index: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  order: 2; /* NEW */
}

#chart path {
  stroke: #fff;
}

#explanation {
  z-index: 2;
  display: none/* flex */;
  align-items: center;
  justify-content: flex-end;
  order: 1; /* NEW */
  color: #666;
}

#percentage {
  font-size: 2.5em;
}
